@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* mackbook */

.mack-02 {
  margin-left: 20em;
}

.knowledge {
  padding-top: 2em;
  padding-bottom: 4em;
  margin-bottom: 5em;
  margin-top: 8em;
  background-color: #fff;
  /* background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
      radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px); */
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  overflow: hidden;
}

.knowledge_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
}

.knowledge_picture {
  max-width: 500px;
}

.knowledge_paragraph {
  line-height: 1.7;
  margin-bottom: 12px;
  font-size: 15px;
}

.knowledge_img {
  width: 100%;
  display: block;
}

.cta {
  display: inline-block;
  background-color: #033e8c;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 32px;
  font-size: 15px;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  transition: 0.5s;
}

.cta:hover {
  background: #023373;
  margin-left: 2em;
}

.subtitle {
  padding-bottom: 0.5em;
  font-size: 18px;
}

.knowledge_paragraph-2 {
  line-height: 1.7;
  margin-bottom: 1px;
  padding-top: 0.5em;
  font-size: 15px;
}

/* agencia */

.title-agencia {
  text-align: center;
  font-size: 20px;
  color: #033e8c;
  margin-bottom: 0.8em;
}

.subtitle-agencia {
  text-align: center;
  font-size: 22px;
  margin-bottom: 0.5em;
}

.text-agencia {
  text-align: center;
  width: 52em;
  margin: auto;
  padding-top: 0.3em;
  padding-bottom: 5em;
}

.cont-item-text-agencia {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-wrap: wrap;
}

.img-right {
  float: left;
  align-items: center;
  margin-left: 25em;
}

.item-text-right {
  width: 40em;
  margin-left: 2.5em;
  margin-top: -1.5em;
  line-height: 1.4;
}

.img-left,
.img-right {
  width: 320px;
  font-weight: 320px;
}

.img-left {
  margin-right: 20em;
  margin-top: 2em;
  float: right;
}

.item-text-left {
  width: 40em;
  line-height: 1.4;
  float: left;
  margin-top: 3em;
  margin-left: 35em;
}

/* valores */

.valores {
  margin-top: 2.5em;
}

.sp {
  color: #033e8c;
}

.title-02-valores {
  margin-top: 1.5em;
  text-align: center;
  margin-bottom: 2em;
}

.cont-valores {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto auto;
}

.val-title {
  text-align: left;
  margin-left: 3em;
  margin-bottom: 1em;
  margin-top: 1.5em;
}

.val-p-text {
  width: 35em;
  margin: auto;
  line-height: 1.4;
  font-size: 15px;
}

@media screen and (max-width: 1350px) {
  /* section de mackbook */

  .mack-02 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 1%;
  }

  .knowledge {
    padding-top: 1em;
    padding-bottom: 4em;
    margin-bottom: 5em;
    margin-top: 3em;
    margin-left: auto;
    background-color: #fff;
    /* background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
        radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px); */
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
  }

  .knowledge_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    margin: auto;
    padding: 2em;
  }

  /* section de agencia */

  .cont-item-text-agencia {
    display: flex;
    flex-direction: column-reverse;
    justify-content: unset;
    align-items: center;
    flex-wrap: wrap;
  }

  .img-right {
    margin-top: 2em;
    float: left;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2em;
  }

  .cont-agencia-left {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    flex-wrap: wrap;
  }

  .img-left {
    align-content: center;
    align-items: center;
    display: block;
    margin: auto;
  }

  .item-text-left {
    align-items: center;
    align-content: center;
    display: block;
    margin: auto;
    padding: 2em;
  }

  .text-agencia {
    text-align: center;
    width: 52em;
    margin: auto;
    padding-top: 0.3em;
    padding-bottom: 5em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .cont-valores {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto;
  }

  .val-title {
    text-align: center;
    margin-left: 3em;
    margin-bottom: 1em;
    margin-top: 1.5em;
  }

  .item-valores {
  }

  .val-p-text {
    width: 35em;
    padding: 1%;
    margin: auto;
    line-height: 1.4;
    font-size: 15px;
  }
}

@media screen and (max-width: 780px) {
  .text-agencia {
    /* margin: auto; */
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
  }
}

@media screen and (max-width: 650px) {
  /* section de mackbook */

  .knowledge_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    align-items: center;
    margin: auto;
    padding: 2em;
  }

  .knowledge_img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 580px) {
  /* section valores */

  .cont-valores {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto;
  }

  .val-title {
    text-align: center;
    margin-left: 3em;
    margin-bottom: 1em;
    margin-top: 1.5em;
  }

  .item-valores {
  }

  .val-p-text {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    line-height: 1.4;
    font-size: 15px;
  }
}

@media screen and (max-width: 670px) {
  /* section de agencia */

  .cont-item-text-agencia {
    display: flex;
    flex-direction: column-reverse;
    justify-content: unset;
    align-items: center;
    flex-wrap: wrap;
  }

  .img-right {
    margin-top: 2em;
    float: left;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 2em;
    width: 80%;
    font-weight: 100%;
  }

  .item-text-right {
    align-items: center;
    align-content: center;
    display: block;
    width: 100%;
    padding-right: 18%;
  }

  .cont-agencia-left {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    flex-wrap: wrap;
  }

  .img-left {
    display: none;
  }

  .item-text-left {
    align-items: center;
    align-content: center;
    display: block;
    width: 100%;
    /* padding:; */
    padding-left: 8%;
    margin-bottom: -20em;
  }

  .text-agencia {
    text-align: center;
    width: 52em;
    margin: auto;
    padding-top: 0.3em;
    padding-bottom: 5em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .text-agencia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
